#mainInfo {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcyan;
  flex-direction: column;
}

fieldset {
  max-width: 1000px;
  margin-top: 1.5rem;
}

legend {
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
}

label {
  display: block;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-top: 1rem;
}

#section-1 > input {
  width: 500px;
}

#section-2 > input {
  width: 500px;
}

#section-3 > input {
  width: 500px;
}

textarea {
  width: 500px;
}

#section-1 > input:invalid {
  border: 2px solid red;
}

#section-1 > input:valid {
  border: 2px solid green;
}

span {
  color: red;
}

#submit {
  border-radius: 25px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: lightblue;
  font-weight: bolder;
  display: block;
  margin: 1rem auto;
}

#edit {
  border-radius: 25px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: lightblue;
  font-weight: bolder;
  display: block;
}
